<select [(ngModel)]="selectedFilter">
  <option  *ngFor = "let filter of tableConfig.search.columns" >
    {{filter}}
  </option>
</select>


  <input [(ngModel)] = "searched" type = "text"  value = "{{searched}}">





<table mat-table class="mat-elevation-z8">

  <thead>
  <tr >
    <th *ngFor="let column of tableConfig.headers;" ><mat-icon class = 'material-icons' (click) = "ordina(column.key);" > {{icon}}</mat-icon>{{column.label}}  </th>

  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let row of data | filter: selectedFilter : searched |  pagination: perPage: selectedPage ">
    <td *ngFor="let column of tableConfig.headers;" >
      {{row[column.key]}}
    </td>
  </tr>
  </tbody>
</table>
<select [(ngModel)]="perPage">
  <option  *ngFor = "let itemPerPage of tableConfig.pagination.itemPerPageOptions" >
    {{itemPerPage}}
  </option>
</select>
<h4>Page</h4>
<input [(ngModel)] = "selectedPage" type = "number"  value = "{{selectedPage}}">
<br>
<button *ngFor="let act of tableConfig.actions" (click) = "op(act)">{{act}}</button>
