<mat-form-field appearance="fill">
  <mat-label>Cerca</mat-label>
<mat-select matNativeControl [(ngModel)]="selectedFilter">
  <mat-option  *ngFor = "let filter of tableConfig.search.columns" >
    {{filter}}
  </mat-option>
</mat-select>
</mat-form-field>

  <input [(ngModel)] = "searched" type = "text"  value = "{{searched}}">





<table mat-table class="mat-elevation-z8">

  <thead>
  <tr >
    <th *ngFor="let column of tableConfig.headers;" ><mat-icon class = 'material-icons' (click) = "ordina(column.key);" > {{icon}}</mat-icon>{{column.label}}  </th>

  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let row of data | filter: selectedFilter : searched |  pagination: perPage: selectedPage ">
    <td *ngFor="let column of tableConfig.headers;" >
      {{row[column.key]}}
    </td>
  </tr>
  </tbody>
</table>
<mat-form-field appearance="fill">
  <mat-label>Elementi per pagina</mat-label>
<mat-select  [(ngModel)]="perPage">
  <mat-option  *ngFor = "let itemPerPage of tableConfig.pagination.itemPerPageOptions" >
    {{itemPerPage}}
  </mat-option>
</mat-select>
</mat-form-field>
<mat-label>Page</mat-label>
<input [(ngModel)] = "selectedPage" type = "number"  value = "{{selectedPage}}">
<br>

<button mat-raised-button color="primary" *ngFor="let act of tableConfig.actions" (click) = "op(act)" class = "b">{{act}}</button>

